body {
    margin-top: 28px!important;
}
.navbar.admin-menu {
    min-height: 28px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.admin-menu .navbar-toggle {
    padding: 3px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.admin-menu .material-icons {
    vertical-align: middle;
}
.admin-menu .navbar-nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}
.admin-menu .dropdown-menu {
    padding: 0;
    border-radius: 0;
}
.admin-menu .dropdown-menu li {
    position: relative;
}
.admin-menu .dropdown-menu li>a:not(:first-of-type) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    color: #000;
    opacity: 0;
}
.admin-menu .dropdown-menu li:hover>a:not(:first-of-type) {
    opacity: 1;
}

.admin-menu .dropdown-menu .material-icons {
    margin-left: -10px;
}
.admin-menu .dropdown-menu li>a:not(:first-of-type) .material-icons {
    margin-left: 0;
}



.admin-menu .navbar-toggle {
    padding: 3px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}